<template>
  <div class="about">
    <router-link to="/home">To Home Page</router-link>
  </div>
</template>

<script>

export default {
    name: "About",
    data () {
        return {};
    },
    created () {
        this.$fetch.apiTest.getList().then(res => {
            console.log(res);
        });
    }
};
</script>

<style>

</style>