<template>
  <div class="home">
    <router-link to="/about">To About Page</router-link>
    <div class="img-wrapper">
        <img v-for="(img, i) in imgList" :key="i" v-lazy="img" />
    </div>
    <span>{{$t("home.title")}}</span>
    <el-pagination
        background
        :current-page="1"
        :page-sizes="[10, 25, 50, 100]"
        :page-size="100"
        layout="total, sizes, prev, pager, next, jumper"
        :total="200">
    </el-pagination>
  </div>
</template>

<script>
export default {
    name: "Home",
    data () {
        return {
            imgList: []
        };
    },
    methods: {
        getList () {
            this.$fetch.apiTest.getList().then(res => {
                console.log(res);
            });
        },
        getImgList () {
            this.$fetch.apiTest.getImgList({ id: 123 }).then(res => {
                if (res.code === 200) {
                    this.imgList = res.data;
                }
            });
        }
    },
    created () {
        this.getList();
    }
};
</script>
<style lang="less" scoped>
.home {
    box-shadow: 0px 2px 6px 0px #daeafc;
    .img-wrapper {
        img {
            width: 55px;
            height: 55px;
            margin-right: 6px;
            border: 1px solid rgba(229,231,237,1);
            border-radius: 4px;
        }
    }
}
</style>