<template>
    <div id="div_main_loadingBackdrop" class="back-drop" v-if="isLoading">
        <div class="loading">
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
import { mapGetters } from "vuex";

export default {
    computed: {
        ...mapGetters({
            isLoading: "getLoadingState"
        })
    }
};
</script>

<style lang="scss" scoped>
/* 弹层&对话框 */
.back-drop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background-color: rgba(255, 255, 255, .4);
}

.back-drop > .loading {
    position: fixed;
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -50px;
    z-index: 10000;
    top: 50%;
    margin-top: -50px;
    background: url("./loading.gif") center center no-repeat;
    background-size: 100px;
}
</style>
