<template>
  <div id="app">
    <router-view />
    <loading />
  </div>
</template>
<script type="text/ecmascript-6">
import loading from "./components/loading/Loading";

export default {
    name: "app",
    components: {
        loading
    }
};
</script>
